* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3em;
  padding: 32px 0;
}

#header {
  align-items: center;
  background-color: #15306A;
  color: #ffffff;
  display: flex;
  height: 250px;
  place-content: center;
}

#tesouroDiretoList {
  display: flex;
  flex-wrap: wrap;
  padding: 16px;

  .tesouroDiretoItem {
    background-color: #15306A;
    color: #ffffff;
    flex-basis: 100%;
    margin: 16px 0;
    padding: 16px;
  }
}
